.cont{
    @apply bg-[#D9D9D9] w-full h-full rounded-3xl flex flex-col;
    padding: 37px 40px;
}

.title{
    @apply font-medium mb-10 text-black;
    font-size: 36px;
    line-height: 44px;
}

.path{
    @apply flex gap-x-1.5 w-full mb-14;

    &__el{
        @apply bg-[#AAAAAA] px-16 py-3 rounded-3xl text-lg font-normal flex-center whitespace-nowrap;
    }
}

.info{
    @apply flex flex-col gap-y-9 font-normal text-lg;
}

.footer{
    @apply mt-auto pt-7 w-full;
    border-top: 2px solid #AAAAAA;
}