.select {
  height: 100px;
  position: relative;

  &__wrapper {
    @apply absolute w-full top-0 left-0 overflow-hidden flex flex-col;
    transition: all 1s;
    border-radius: 25px;
    background-color: #d9d9d9;
    height: 100px;
    &__active {
      height: 837px !important;
      .select__tabs {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
      }
    }
  }
  &__tabs {
    @apply w-full grid grid-cols-2;
    background-color: #d9d9d9;
    padding: 24px 37px 0 37px;
    transition: all 1s;
    &__el {
      @apply flex justify-center items-center cursor-pointer;
      padding-bottom: 24px;
      border-bottom: 2px solid #a7a7a7;
      &__active {
        border-bottom: 2px solid #1e1e1e;
      }
    }
  }

  &__header {
    @apply bg-[#D9D9D9] flex justify-between items-center cursor-pointer;
    padding: 31px 37px;
  }

  &__inputs {
    @apply bg-[#D9D9D9] flex flex-col gap-y-12 overflow-y-auto h-full;

    input {
      background-color: #c2c2c2 !important;
    }

    padding: 50px 37px;
  }
}
