.cont {
  @apply bg-[#A7A7A7] px-10 pt-8 pb-12 w-full flex flex-col max-xl:px-5 max-lg:pb-10;
  border-radius: 0px 8px 8px 8px;

  input {
    @apply bg-white text-lg w-full rounded-lg border-none outline-none p-4 font-normal max-xl:py-3 max-lg:text-base;
    &:placeholder {
      color: #a7a7a7;
    }
  }

  &_mod {
    border-radius: 0px 8px 0px 0px;
  }
}

.firstLine {
  @apply gap-x-[34px] max-xl:gap-x-7 w-full flex items-center max-lg:gap-x-2.5;
  margin-bottom: 46px;
}

.secondLine {
  @apply gap-x-[109px] max-xl:gap-x-[102px] max-lg:gap-x-[55px] grid grid-rows-1 grid-cols-2 w-full;
  margin-bottom: 32px;
  .inpEl:first-child {
    @apply w-1/2 max-xl:w-full;
  }
}

.line {
  @apply gap-x-[109px] max-xl:gap-x-[102px] max-lg:gap-x-[55px] mb-5.5 max-lg:mb-2.5 grid grid-rows-1 grid-cols-2 w-full;
}

.lastLine {
  @apply gap-x-[109px] max-xl:gap-x-[102px] max-lg:gap-x-[55px] grid grid-rows-1 grid-cols-2 w-full items-end;
}

.inpEl {
  @apply flex flex-col gap-y-2.5 w-full;

  p {
    @apply font-medium text-base;
  }

  span {
    color: #e60029;
  }
}

.inpEl1 {
  @apply flex flex-col gap-y-2.5 w-1/4;

  p {
    @apply font-medium text-base;
  }

  span {
    color: #e60029;
  }
}

.swap {
  @apply w-[69px] bg-[#F8F8F8] max-lg:w-[56px] max-lg:h-[30px] max-lg:p-1 max-lg:mb-1.5 h-10 rounded-full self-end mb-2 flex-center z-10 cursor-pointer p-2;
  img {
    transform: rotate(90deg);
  }
}

.buttons {
  @apply w-full flex flex-col gap-y-2 justify-end max-ss:w-fit;

  button {
    @apply h-[44px] w-[162px] max-sm:w-[150px] max-sm:h-[33px] text-base flex-center rounded-lg font-bold text-white;
    &:first-child {
      background: #e60029;
    }

    &:last-child {
      background: #3622f5;
    }
  }
}

@media screen and (max-width: 500px) {
  .cont {
    @apply pb-7 max-ss:px-4 max-ss:pb-4;
    input {
      @apply max-w-[300px] max-sm:max-w-[254px] max-ss:max-w-[233px] max-sm:text-sm w-full px-4 text-base;
    }
  }
  .firstLine {
    @apply flex-col gap-3 relative mb-11;
  }
  .swap {
    @apply max-ss:right-0 absolute right-4 top-1/2 w-7 h-7 m-0;
  }
  .secondLine {
    @apply flex flex-col gap-3 mb-3;
  }
  .line {
    @apply flex flex-col;
  }
  .lastLine {
    @apply max-ss:items-center flex flex-col-reverse gap-8 max-ss:gap-7;
  }
}
