.container {
  @apply flex justify-center items-center pb-[200px] w-full;
  padding: 0 175px;
  height: 691px;
  background-color: #d9d9d9;
}

.blockLeft {
  @apply w-full;
}

.title {
  max-width: 431px;
  font-weight: 600;
  font-size: 40px;
  line-height: 58px;
}

.subtitle {
  @apply font-medium mt-4;
  margin-bottom: 65px;
  font-size: 24px;
  line-height: 29px;
}

.btn {
  @apply font-bold text-white px-8 py-3 rounded-lg border-0;
  font-size: 16px;
  line-height: 20px;
  background-color: #3622f5;
}

.block {
  @apply flex justify-between w-full;
}

.blockRight {
  @apply flex flex-col justify-start w-full;
}

.track {
  font-weight: 600;
  font-size: 40px;
  line-height: 58px;
}

.trackInput {
  @apply my-6;

  input {
    @apply h-[56px] font-normal w-full rounded-lg pl-5 outline-none;
    font-size: 20px;
    line-height: 24px;
    color: #a7a7a7;
    max-width: 628px;
  }
}
