.cont {
    @apply mt-20 mx-auto w-full grid grid-cols-1 font-normal;
    font-size: 35px;
    line-height: 42px;
    max-width: 1169px;
  }
  
  .el {
    @apply w-full flex items-center;
    column-gap: 50px;
    height: 125px;
  
    &:last-child > div:after {
      display: none !important;
    }
  }
  
  .circle {
    width: 50px;
    height: 50px;
    background: #d9d9d9;
    border: 2px solid #626262;
    border-radius: 100%;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      transform: translateY(102%) translateX(22px);
      margin: 0 auto;
      height: 75px;
      width: 2px;
      background-color: #d9d9d9;
    }
  }
  
  .onWay{
      background: transparent !important;
  }