.cont {
  @apply bg-[#a7a7a7] w-full flex flex-col gap-y-2.5;
  padding: 32px 80px 51px 80px;
  border-radius: 0px 8px 0px 0px;
}

.search {
  @apply w-full flex gap-x-3;
  height: 56px;

  &__input {
    @apply bg-white w-full rounded-lg flex items-center gap-x-4 p-4;

    img {
      width: 24px;
      height: 24px;
      cursor: pointer;
    }

    input {
      @apply bg-transparent border-none outline-none w-full font-normal;
      font-size: 20px;
      line-height: 24px;
      color: #353535;
      &:placeholder {
        @apply text-[#626262];
      }
    }
  }

  &__button {
    @apply bg-[#3622F5] rounded-lg flex-center font-bold text-white h-full;
    font-size: 16px;
    line-height: 20px;
    width: 330px;
  }
}

.title {
  @apply font-medium;
  font-size: 16px;
  line-height: 20px;

  span {
    color: #e60029;
  }
}
